h1 {
    color: white;
}

body {
    background-color: black;
    margin-top: 70px
    
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: white;
    
}

#reached {
    width: 400px;
    height: 300px;
}

div {
    text-align: center;
}

h3 {
    text-align: center;
    color: white;
}

#picture {
    width: 400px;
    height: 300px;
}

p {
   
   color: white ;
   font-family: "Playwrite DE SAS", cursive;('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+DE+SAS:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap';)

}
#div{
    background-color: blueviolet;
}
.logincantainer{
    color: white;
    margin: 50px auto;
     width: 400px;
    height: 300px;
    border: 3px solid white;
    background-color: darkred;
    padding: 20px;
    border-radius: 10px;
}
#username{
text-align: center;
    margin-top: 20px;
}
#password{
    text-align: center;
    margin: 20px;
    padding: 20px;
}
#email{
    text-align: center;
    margin: 20px;
}
#contactnumber{
text-align: center;
margin: 20px;
padding: 20px;
}

button{
margin: 20px;
border: radius 20px;
background-color: aqua;
}
#froms{
align-content: center;
}
